<div class="navbar-fixed">
	<nav class="light-blue darken-4">
		<div class="nav-wrapper">
			<a [routerLink]="['/dashboard']" class="brand-logo">
				<i class="material-icons f-size-medium">mail</i>
				Suggestions Box
			</a>
		  
			<ul class="right hide-on-med-and-down">
				<li><a href="#"><i class="material-icons">notifications</i></a></li>
				<li><a href="#"><i class="material-icons">message</i></a></li>
			</ul>

		  <a materialize="sideNav" data-activates="slide-out" class="button-collapse cursor-pointer"><i class="material-icons">menu</i></a>
		
		</div>
	</nav>
</div>