
<app-top-bar></app-top-bar>
<div id="main">
	<app-side-nav></app-side-nav>
	
	<section id="content" class="container animated zoomIn">
		<div class="m-top-space">
			<a class="waves-effect waves-light btn light-blue darken-4" (click)="openNewItemModal()">
				<i class="material-icons left">add</i>Nuevo
			</a>
		</div>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Id</th>
					<th>Título</th>
					<th>Leyenda</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let typeSuggestion of TypeSuggestions">
					<th>
						<img src="{{typeSuggestion.imageUri}}" class="circle responsive-img" style="width: 70px;">
					</th>
					<th>{{typeSuggestion.id}}</th>
					<th>{{ typeSuggestion.title }}</th>
					<th>{{ typeSuggestion.caption }}</th>
					<th>
						<a class="waves-effect waves-light btn amber accent-3" 
							(click)="openNewItemModal(typeSuggestion)">
							<i class="material-icons">mode_edit</i>
						</a>
						<a class="waves-effect waves-light btn red accent-2"
							(click)="openConfirmModal(typeSuggestion.id)">
							<i class="material-icons">delete_forever</i>
						</a>
					</th>
				</tr>
			</tbody>
		</table>
	</section>
</div>

<app-type-suggestion-modal></app-type-suggestion-modal>
<app-confirm-modal></app-confirm-modal>