input.ng-invalid, textarea.ng-invalid{
   border-bottom: 1px solid #F44336;
   box-shadow: 0 1px 0 0 #F44336;
}

input.ng-valid, textarea.ng-valid{
   border-bottom: 1px solid #4CAF50;
   box-shadow: 0 1px 0 0 #4CAF50;
}

input.ng-invalid + label, textarea.ng-invalid + label{
   color: #F44336;
}

input.ng-invalid::before{
   color: #F44336;
}

input.ng-invalid:focus, textarea.ng-invalid:focus{
   border-bottom: 1px solid #F44336;
   box-shadow: 0 1px 0 0 #F44336;
}

input.ng-pristine + label, textarea.ng-pristine + label {
   color: #9e9e9e;
}

input.ng-pristine:focus + label, textarea.ng-pristine:focus + label {
   color: #26a69a;
}

input.ng-pristine:focus, textarea.ng-pristine:focus {
   border-bottom: 1px solid #26a69a;
   box-shadow: 0 1px 0 0 #26a69a;
}

input.ng-pristine.ng-invalid:not(*:focus), textarea.ng-pristine.ng-invalid:not(*:focus){
   border-bottom: 1px solid #9e9e9e;
   box-shadow: 0 0 0 0 #9e9e9e;
}
