<div class="row card suggestions-content">
  <div class="col s10">
    <span class="card-title">Título de la sugerencia</span>
    <ul>
      <li>
        <b>Nombre:</b>
        <span>Sergio Morales</span>
      </li>
      <li>
        <b>E-mail</b>
        <span>sergiomorales811@hotmail.com</span>
      </li>
      <li>
        <b>Categría</b>
        <span>Sugerencia de la charla</span>
      </li>
      <li>
        <b>Fecha de creación</b>
        <span>{{ date | date }}</span>
      </li>
    </ul>
  </div>
  <div class="col s2 teal">
    <i class="material-icons large center">query_builder</i>
    <!--<i class="material-icons large center center-icon white-text">done</i>-->
    <p class="center white-text">Verificado</p>
  </div>
</div>
