<app-top-bar></app-top-bar>

<div class="main-container-img">
	<div class="container-img-screen">
		<h2 class="white-text center animated bounceInDown">Suggestions Box</h2>
		<p class="white-text center animated bounceInLeft">El camino fácil para realizar sugerencias, comentarios y preguntas.</p>
	</div>
	<div class="container-img-cover"></div>
</div>

<div class="container m-top-space">
	<div class="row card-container">
		<app-suggestion-service
			*ngFor="let suggestionCard of typeSuggestions"
			[id]="suggestionCard.id"
			[title]="suggestionCard.title"
			[caption]="suggestionCard.caption"
			[imageUri]="suggestionCard.imageUri"
			class="card col s12 m5">
				
		</app-suggestion-service>
	</div>
</div>